<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Pomodorro Tracker</title>
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  </head>

  <body ng-app="PomodoroApp" ng-controller="MainCtrl">
      <div id="title-bar">
        <div id="title-bar-btns">
            <button class="top-btn" id="min-btn">-</button>
            <!-- <button class="plus" id="max-btn">+</button> -->
            <button class="top-btn" id="close-btn">x</button>
        </div>
      </div>
      <header>
        <div class="session">
          <div class="breakCtrl">
            <p>Break Length</p>
            <button ng-click="changeTime(-1, 'break')" class="minus">-</button><span class="time"><b>{{breakLength}}</b></span>
            <button ng-click="changeTime(1, 'break')" class="plus">+</button>
          </div>
          <div class="sessionCtrl">
            <p>Session Length</p>
            <button ng-click="changeTime(-1)" class="minus">-</button><span class="time"><b>{{sessionLength}}</b></span>
            <button ng-click="changeTime(1)" class="plus">+</button>
          </div>
        </div>
      </header>

      <section ng-click="toggleTimer()">
        <div class="timer" ng-style="{'border-color' : fillColor}">
          <p class="title">
              <span ng-if="sessionType === 'pomodoro'">Pomodoro <b>{{currentPomodoro}}</b></span>
              <span ng-if="sessionType === 'break'">Break! </span>
          </p>
          <p>{{timeLeft}}</p><span ng-style="{'height':fillHeight, 'background':fillColor }" class="fill"></span>
        </div>

      </section>

      <div ng-if="showSkipButton" style="text-align:center">
          <button class="skip-btn top-btn" ng-click="cancelBreak()">Skip Break</button>
      </div>

    <script src="app.js"></script>
  </body>
</html>
